body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #111;
  color: #eee;
  padding-bottom: 70px;
}

header {
  position: sticky;
  top: 0;
  background: #222;
  padding: 14px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #333;
  z-index: 100;
}

.card {
  background: #1d1d1d;
  padding: 18px;
  margin: 16px;
  border-radius: 14px;
  box-shadow: 0 4px 10px #0004;
}

h2 {
  margin-top: 0;
}

ul {
  padding-left: 20px;
}

a {
  color: #64b5f6;
  text-decoration: none;
}

.fov {
  width: 100%;
  background: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.fov img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.label {
  text-align: center;
  margin-bottom: 0px;
  font-size: 15px;
  color: #ccc;
}

.label_s {
  text-align: center;
  margin-bottom: 0px;
  font-size: 10px;
  color: #ccc;
}

.tabbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  background: #222;
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabbar a {
  color: #aaa;
  font-size: 14px;
}
